*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
*::selection{
    background-color: white;
    color: #95c11e;
}
html,body{
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .nav .img{
        height: 10vh;
    }
    .nav h4{
       display: none;
    }
    .nav #icon{
        display: block;
        font-size: 5vw;
        align-content: center;
        margin-left: 60vw;
    }
    

}
@media (max-width:480px) {
    .nav .img{
        height: 10vh;
    }
    .nav{
        position: sticky;
    }
    .cursor{
        display: none;
    }
    .nav h4{
       display: none;
    }
    .nav #icon{
        display: block;
        font-size: 8vw;
        align-content: center;
        margin-left: 50vw;
    }

}

.nav i{
    color: white;
    font-size: 3vw;
    font-weight: 900;
    display: none;

}
.nav{
    height: 130px;
    width: 100%;
    display: flex;
    gap: 3vw;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    padding: 0  6vw;
    z-index: 99;
    /* background-color: blue; */
}
.nav img{
    height: 5vw;
    
}
.nav h4{
    text-transform: uppercase;
    font-weight: 700;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main{
   
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    
}

.page1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    z-index: 10;

}
.page1 h1{
    font-size: 7vw;
    font-weight: 900;
    margin-bottom: 1vw;
    position: relative;
}
.page1 h1::before{
    content: "EAT.DRINK.PLAY."; 
    position: absolute;
    color: black;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 3px #95c11e;
    z-index: -1;



}
.cursor{
    height: 15px;
    width: 15px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
}
.cursorBlur{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #96c11e44;
    position: fixed;
    filter: blur(90px);
    z-index: 9;

}
.page1 h2 span{
    color: gold;
}
.page1 p .sp{
    color: rgb(233, 15, 91);
}
.page1 p span{
    color: aqua;
}
.page1 h2{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
.page1 p{
    line-height: 3vw;
    font-size: 2vw;
    font-weight: 600;
    width: 60%
}
.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
.scroller{
    overflow-y: hidden;
    overflow-x: auto;
    /* background-color: red; */
    white-space: nowrap;
    position: relative;
    z-index: 10;
}
.scroller h4:hover{
    color: #95c11e;
}
.scroller::-webkit-scrollbar{
    display: none;
}
.sl1{
    white-space: nowrap;
    display: inline-block;
   animation: scroll 30s linear infinite;
}
.scroller h4 {
 display: inline-block;
 margin-right: 10px;
 font-size: 140px;
 font-weight: 900;
 transition: all linear .5s  ;
-webkit-text-stroke: 1.5px #95c11e ;
color: transparent;
}

@keyframes scroll{
    from{
        transform:translatex(0);
    }
    to{
        transform: translatex(-100%);
    }
}


.aboutus{
    margin-top: 50px;
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0px 50px;
}
.aboutus img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 25px;
}
.aboutusin{
    width: 60%;
    flex-wrap: nowrap;
    text-align: center;
}
.aboutusin h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}
.aboutusin p{
    line-height: 28px;
    font-size: 25px;
  
}
.cards{
   height:60vh ; 
   width: 100%;
   /* background-color: red; */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 70px;
    z-index: 10;
}
.card{
    height: 70%;
    width: 22%;
    background-color: rgba(58, 189, 233, 0.692);
    border-radius: 20px;   
    background-position: center;
    background-size: cover;
    z-index: 10;
    transition: all ease 0.7s;

}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    
} 
#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);

}
#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);

}
.overlay{
    height: 100%; 
    width: 100%;
    border-radius: 20px;
    padding: 0vw 3vw;
    background-color: #95c11e;
    padding-top: 40px;
    text-transform: uppercase;
    opacity: 0;
    transition: all ease 0.7s;
}
.card:hover .overlay{
    opacity: 1;
}
.overlay h4{
    color: black;
    margin-bottom: 20px;
    font-size: 1.75vw;
    white-space: nowrap;
    font-weight: 800;

}


.overlay p{
    color:green;
    font-size: 14px;
    line-height: 1.5vw;
}

.green{
    height:25vh ;
    display: flex;
    background: linear-gradient(to left bottom ,#119f3a,#ace022 );
    align-items: center;
    justify-content: space-between;
}
.green img{
    height: 100%;
    object-fit: cover;
    width: 14%;
    

}
.green h4{
    
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    width: 45%;
    text-transform: uppercase;
    color: black;
    
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}
.page3>p{
    font-size: 35px;
    font-weight: 70;
    width: 55%;
    text-align: center;
    line-height: 45px;
}
.page3 img{
    position: absolute;
    width: 60px;
}
#colon1{
  left: 15%;
  top: 25%;
}
#colon2{
    bottom: 25%;
    right: 15%;
}

.page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
  }
  .elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }
  
  .elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
  }
  .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
  }
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
  .elem:hover img {
    scale: 1;
  }
  .page4 h1 {
    font-size: 6.4vw;
    position: absolute;
    top: -15%;
    font-weight: 900;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 1px #fff;
  }

  .footer{
    height:40vh;
    width: 100%;
    background: linear-gradient(to left bottom ,#119f3a,#ace022);
  }
  .footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  .footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

 

  




